:root {
    --big_font: 18px;
    --medium_font: 15px;
    --small_font: 12px;
    --standard_margin: 6px;
    --header_size: 28px;
}

::-webkit-scrollbar{
    width: 0px;
}

header{
    display: flex;
    position:fixed;
    width: calc(100% - 10px);
    height: var(--header_size);
    padding: var(--standard_margin);
    border-bottom: 1px solid #707070;
    background-color: #1f1e1f;
}
.header_div_side{
    width: calc(50% - 15px);
}
.header_div_middle{
    width:30px;
    text-align: center;
}
.stretch{
    width: 100%;
}
#header_spacer {
    height: calc(var(--header_size) + 2*var(--standard_margin));
}
body{
    color: #d2d2d2;
    margin: 0;
    background-color: #1f1e1f;
    font-size: var(--big_font);
    font-family: "Segoe UI";
}
.game_title{
    float: left;
}
.game_control{
    float: right;
}
.panel{
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.15) inset;
    border: 1px solid #707070;
    border-radius: 10px;
    margin: var(--standard_margin);
    padding: var(--standard_margin);
    background: rgb(33,33,33);
    background: linear-gradient(300deg, rgba(33,33,33,1) 0%, rgba(26,26,26,1) 100%);
}
.panel_titel{
    margin-top: 0;
    font-size: var(--big_font);
}
.panel_text{
    margin: var(--standard_margin);
}

.panel_sub_text,
.answer_panel_text,
.panel_shown_text{
    font-size: var(--small_font);
}
.panel_hidden_text{
    display: none;
    font-size: var(--small_font);
}
.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.win_left{
    background: rgb(31,30,31);
    background: linear-gradient(270deg, rgba(31,30,31,1) 46%, rgba(39,50,37,1) 61%, rgba(48,70,44,1) 75%, rgba(56,88,50,1) 85%, rgba(69,120,60,1) 94%, rgba(96,183,80,1) 100%);
}
.win_right{
    background: rgb(31,30,31);
    background: linear-gradient(90deg, rgba(31,30,31,1) 46%, rgba(39,50,37,1) 61%, rgba(48,70,44,1) 75%, rgba(56,88,50,1) 85%, rgba(69,120,60,1) 94%, rgba(96,183,80,1) 100%);
}
.row{
    font-size: var(--medium_font);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.countdown_value_input{
    width: 100%;
}

textarea{
    color: #d2d2d2;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgb(29,29,29);
    background: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(39,39,39,1) 100%);
    border: 1px solid #707070;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=number]{
    color: #d2d2d2;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgb(29,29,29);
    background: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(39,39,39,1) 100%);
    border: 1px solid #707070;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]{
    color: #d2d2d2;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgb(29,29,29);
    background: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(39,39,39,1) 100%);
    border: 1px solid #707070;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.countdown{
}

.timer{
    text-align: center;
}

.minus_game{
    height: 1.5em;
    width: 1.5em;
    margin: 0;
}

.plus_game{
    height: 1.5em;
    width: 1.5em;
    margin: 0;

}

button{
    background: rgb(61,61,61);
    background: linear-gradient(0deg, rgba(61,61,61,1) 0%, rgba(38,38,38,1) 100%);
    color: #d2d2d2;
    border: 1px solid #707070;
    border-radius: 5px;
}
button:hover {
    background: rgb(83,83,83);
    background: linear-gradient(0deg, rgba(83,83,83,1) 0%, rgba(46,46,46,1) 100%);
    color: white;
}
button:active {
    background: rgb(29, 29, 29);
    background: linear-gradient(0deg, rgba(29, 29, 29, 1) 0%, rgba(39, 39, 39, 1) 100%);
}
.winner_player_button{
    background: rgb(00,200,00);
    background: linear-gradient(0deg, rgba(00,200,00,1) 0%, rgba(39,39,39,1) 100%);
}
.looser_player_button{
    background: rgb(00,00,00);
    background: linear-gradient(0deg, rgba(00,00,00,1) 0%, rgba(39,39,39,1) 100%);
}

.selected_game_button {
    background: rgb(00,200,00);
    background: linear-gradient(0deg, rgba(00,200,00,1) 0%, rgba(39,39,39,1) 100%);
}
.selected_game_button:hover{
    background: rgb(00,255,00);
    background: linear-gradient(0deg, rgba(00,255,00,1) 0%, rgba(39,39,39,1) 100%);
    color: white;
}
.deselected_game_button {
    background: rgb(00,00,00);
    background: linear-gradient(0deg, rgba(00,00,00,1) 0%, rgba(39,39,39,1) 100%);
}
.deselected_game_button:hover{
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(39,39,39,1) 100%);
    color: white;
}
.games{
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}
.game_button{
    text-align: center;
    width: 1em;
}
.score_player{
    font-size: var(--big_font);
    text-align: center;
}
.reset_score_button{
    height: 20px;
    bottom:0;
    vertical-align: bottom;
}
.score_runde{
    font-size: var(--big_font);
}



/*

    for switch

 */

input[role=switch] {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  width: 2.4em;
  height: 1.4em;
  box-sizing: content-box;
  padding: 0;
  border: none;
  border-radius: .7em;
  background: rgba(160,160,160,0.7);
  box-shadow: 0 .15em .25em rgba(0,0,0,0.5) inset, 0 -.5px 0 rgba(255,255,255,0.2) inset;
  transition: background-color 250ms ease, box-shadow 250ms ease;
  font-size: 68%;
  text-size-adjust: 68%;
  -webkit-text-size-adjust: 68%;
  user-select: none;
  outline: none;
}
input[role=switch]::before {
  content: '';
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  width: 1em;
  height: 1em;
  left: 0;
  top: 0;
  background: rgba(240,240,240,0.9);
  box-shadow: 0 1px 1px #fff inset, 0 .2em .5em rgba(255,255,255,0.7) inset, 0 -.2em .3em rgba(0,0,0,0.2) inset, 0 .05em .25em rgba(0,0,0,0.7);
  border-radius: 50%;
  transform: translate(20%, 20%);
  transition: transform 250ms ease;
  color: rgba(0,0,0,0.3);
  line-height: 1;
}
input[role=switch]:focus::before {
  background: rgba(255,255,255,0.9);
}
input[role=switch]:checked {
  background-color: var(--bg-checked, var(--bg, rgb(60,130,250)));
}
input[role=switch]:focus-visible {
  box-shadow: 0 .15em .25em rgba(0,0,0,0.5) inset, 0 -.5px 0 rgba(255,255,255,0.2) inset, 0 0 0 2px rgba(255,255,255,0.8), 0 0 0 4px var(--bg-checked, var(--bg, rgb(60,130,250)));
}
input[role=switch]:checked::before {
  transform: translate(120%, 20%);
}
input[role=switch]:indeterminate::before {
  transform: translate(70%, 20%);
  content: '-';
}
input[role=switch]:disabled:before {
  opacity: 0.4;
}
.answer_input{
    width: calc(100% - 50px);
}