.controll_section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.game_control{

}
.round_control{
}
.question_answer_section{
    width: 100%;
}
.question_section{
    text-align: center;
    color: white;
    text-shadow: 10px 10px 40px #000000;
}
.answers_section{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.answer_question{
    font-size: 30px;
    flex: 0 0 calc(50% - 2em);
    padding: 1em;
    margin: 1em;
}
.right_answer_question{
    color: #ffffff;
    background-color: #26ac00;
}
.wrong_answer_question{
    color: #ffffff;
    background-color: #9C1A1C;
}
.selected_answer_question{
    color: black;
    background-color: #ffc01b;
}
.neutral_answer_question{
    color: #707070;
    background-color: #444444;
}
h1{
    font-size: 50px;
}