<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/control_page.css') }}">
<script src="{{ url_for('static', filename='scripts/control_page.js') }}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="outer_class">
    <header>
        <div class="game_title">Titel</div>
        <div class="game_control">
            <button class="minus_game">-</button>
            <a class="game_number">10</a>
            <button class="plus_game">+</button>
        </div>
    </header>
    <div id="header_spacer">
    </div>
    <div class="panel beschreibung">
        <div class="panel_titel">
            Beschreibung
        </div>
        <div class="panel_text">
            lorem ipsum
        </div>
    </div>
    <div class="panel regeln">
        <div class="panel_titel">
            Regeln
        </div>
        <div class="panel_text">
            lorem ipsum
        </div>
    </div>
    <div class="panel stopwatch">
        <div class="head">
            <div>Player1</div>
            <button>Reset</button>
            <div>Player2</div>
        </div>
        <div class="countdown row">
            <div style="width: 50%; float: left">
                <div>Countdown</div>
            </div>
            <div style="width: 20%" class="input">
                <input type="text" value="10">
            </div>
            <div style="width: 15%;">
                <button style="float: right">Start</button>
            </div>
            <div style="width: 15%">
                <button style="float: right">Reset</button>
            </div>
        </div>
        <div class="stopwatch row">
            <div style="width: 50%; float: left">
                <div>Stopwatch</div>
            </div>
            <div style="width: 20%">
            </div>
            <div style="width: 15%;">
                <button style="float: right">Start</button>
            </div>
            <div style="width: 15%">
                <button style="float: right">Reset</button>
            </div>
        </div>
        <p class="timer">00:00:00</p>
    </div>
    <div class="panel frage">
        <div class="panel_titel">
            Frage
        </div>
        <div class="panel_shown_text">
            Wie heißt der griechische Sonnengott?<br>
            Lorem ipsum<br>
            Lorem ipsum
        </div>
        <button class="row">Antwort</button>
        <div class="panel_shown_text">
            Helios<br>
            Lorem ipsum<br>
            Lorem ipsum
        </div>
    </div>

    <div class="panel runde">
        <div class="head">
            <div class="round_title">Runde</div>
            <div class="row score_runde">
                <div class="round_score_player1">0</div>
                <div style="margin-left: 5px; margin-right: 5px"> - </div>
                <div class="round_score_player2">0</div>
            </div>
            <div class="round_control">
                <button class="minus_round">-</button>
                <a class="round_number">0</a>
                <button class="plus_round">+</button>
            </div>
        </div>

        <div class="row">
            <button>Player1</button>
            <div>Punkt für</div>
            <button>Player2</button>
        </div>
    </div>
    <div class="panel score">
        <div class="row">
            <div class="score_player">
                <div class="score_sum_player0">0</div>
                <div class="games">
                    {% for i in range(15) %}
                    <button onclick="select_game_as_won(0, {{ i }})" class="game_button button_player_0_{{ i }}">
                        {{ i + 1 }}
                    </button>
                    {% endfor %}
                </div>
                <div class="row">
                    <button onclick="inc_bonus(0, -1)" class="minus_bonus_0">-</button>
                    <a class="bonus_score bonus_ammount_0">0</a>
                    <button onclick="inc_bonus(0, 1)" class="plus_bonus_0">+</button>
                </div>
            </div>
            <div class="row">
                <button onclick="reset_gamescore()" class="reset_score_button">Reset</button>
            </div>
            <div class="score_player">
                <div class="score_sum_player1">0</div>
                <div class="games">
                    {% for i in range(15) %}
                    <button onclick="select_game_as_won(1, {{ i }})" class="game_button button_player_1_{{ i }}">
                        {{ i + 1 }}
                    </button>
                    {% endfor %}
                </div>
                <div class="row">
                    <button onclick="inc_bonus(1, -1)" class="minus_bonus_1">-</button>
                    <a class="bonus_score bonus_ammount_1">0</a>
                    <button onclick="inc_bonus(1, 1)" class="plus_bonus_1">+</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>