<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/control_page_edit.css') }}">
<script src="{{ url_for('static', filename='scripts/control_page_edit.js') }}"></script>
<head>
    <meta charset="UTF-8">
    <title>{{ titel }}</title>
</head>
<body>

    <div class="outer_class">

        <header>
            <div class="game_title"><input type="text" value="{{ titel}}"> </div>
            <div class="game_control">

                <a class="game_number">{{gameID+1}}</a>

                <input type="text" class="amount_of_games" value="{{ game_amount }}">
            </div>
        </header>
        <div id="header_spacer">
        </div>
        <div class="panel beschreibung">
            <div class="panel_titel">
                Beschreibung
            </div>
            <div class="panel_sub_text description_panel_text">
                <textarea class="description">{{ desc }}</textarea>
            </div>
        </div>
        <div class="panel regeln">
            <div class="panel_titel">
                Regeln
            </div>
            <div class="panel_sub_text rules_panel_text">
                <textarea class="rules">{{ rules }}</textarea>
            </div>
        </div>
        <div class="panel stopwatch">
            <div class="head">
                <input type="text" class="nameHome" value="{{playerHome}}">
                <button>Reset</button>
                <input type="text" class="nameGuest" value="{{playerGuest}}">
            </div>

            <div class="countdown row">
                {% if countdown_enabled %}
                    <div style="width: 50%; float: left; display: flex">
                        <input class="countdown_cb" onclick="toggle_countdown_visibility(this)" type="checkbox" checked>
                        <div>Countdown</div>
                    </div>
                    <div class="visible_countdown" style="width: 20%">
                        <input class="countdown_value_input" type="text" value="{{countdown}}">
                    </div>

                {% else %}
                    <div style="width: 50%; float: left; display: flex">
                        <input class="countdown_cb" onclick="toggle_countdown_visibility(this)" type="checkbox">
                        <div>Countdown</div>
                    </div>
                    <div class="visible_countdown" style="width: 20%; display: none">
                        <input class="countdown_value_input" type="text" value="{{countdown}}">
                    </div>

                {% endif %}
            </div>
            <div class="stopwatch row">
                {% if stopwatch_enabled %}
                    <div style="width: 50%; float: left; display: flex">
                        <input class="stopwatch_cb" onclick="toggle_stopwatch_visibility(this)" type="checkbox" checked>
                        <div>Stopwatch</div>
                    </div>
                    <div style="width: 20%">
                    </div>

                {% else %}
                    <div style="width: 50%; float: left; display: flex">
                        <input class="stopwatch_cb" onclick="toggle_stopwatch_visibility(this)" type="checkbox">
                        <div>Stopwatch</div>
                    </div>
                    <div style="width: 20%; display: none">
                    </div>

                {% endif %}
            </div>
        </div>
        <div class="panel frage">

            <div class="panel_titel">
                        Frage
            </div>

            {% if noquestion %}

                <div class="panel_shown_text show_when_question_switch" style="display: none">
                    <input type="text" class="question" value="{{frage[1]}}"> <br>
                    {% for x in range(frage[2]|length) %}
                        <input type="text" class="answer_{{ x }}"  value="{{ frage[2][x] }} ">
                        {% if frage[3] == x %}
                        <input onclick="set_answer_cb(this)" type="checkbox" class="answer_cb answer_cb_{{ x }}" checked>
                        {% else %}
                        <input onclick="set_answer_cb(this)" type="checkbox" class="answer_cb answer_cb_{{ x }}">
                        {% endif %}
                         <br>
                    {% endfor %}
                </div>
                <div style="display: flex; margin: 6px;">
                    <input style="margin: 6px;" class="checkbox_switch checkbox_switch_questions" onclick="toggle_show_when_question()" type="checkbox" role="switch">
                </div>
            {% else %}

                <div class="panel_shown_text show_when_question_switch">
                    <input type="text" class="question" value="{{frage[1]}}"> <br>
                    {% for x in range(frage[2]|length) %}
                        <input type="text" class="answer_{{ x }}"  value="{{ frage[2][x] }} ">
                        {% if frage[3] == x %}
                        <input onclick="set_answer_cb(this)" type="checkbox" class="answer_cb answer_cb_{{ x }}" checked>
                        {% else %}
                        <input onclick="set_answer_cb(this)" type="checkbox" class="answer_cb answer_cb_{{ x }}">
                        {% endif %}
                         <br>
                    {% endfor %}
                </div>
                <div style="display: flex; margin: 6px;">
                    <input style="margin: 6px;" class="checkbox_switch checkbox_switch_questions" onclick="toggle_show_when_question()" type="checkbox" role="switch" checked>
                </div>
            {% endif %}


        </div>

        <div class="panel runde">

            <div class="panel_titel show_when_question_switch">
                    Runde  {{ roundID + 1 }}
            </div>
            <div class="panel_shown_text">
                {% if norounds %}
                    <div style="display: none; margin: 6px;" class="show_when_rounds_switch">
                        Rounds: <input type="text" class="amount_of_rounds show_when_rounds_switch" value="{{ round_amount }}">
                    </div>
                    <div style="display: flex; margin: 6px;">
                        <input style="margin: 6px;" class="checkbox_switch checkbox_switch_rounds" onclick="toggle_show_when_round()" type="checkbox" role="switch">
                    </div>
                {% else %}
                    <div style="margin: 6px;" class="show_when_rounds_switch">
                        Rounds: <input type="text" class="amount_of_rounds show_when_rounds_switch" value="{{ round_amount }}">
                    </div>
                    <div style="display: flex; margin: 6px;">
                        <input style="margin: 6px;" class="checkbox_switch checkbox_switch_rounds" onclick="toggle_show_when_round()" type="checkbox" role="switch" checked>
                    </div>
                {% endif %}
            </div>




        </div>

        <form method="post">
            <div class="panel save_button_div">
                <button onclick="save_settings()" >save</button>
            </div>
        </form>

    </div>
</body>
</html>