<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/control_page_edit.css') }}">
<script src="{{ url_for('static', filename='scripts/control_page_edit.js') }}"></script>
<head>
    <meta charset="UTF-8">
    <title>{{ titel }}</title>
</head>
<body>

    <div class="outer_class">

        <header>
            <div class="game_title header_div_side">
                <input type="text" class="stretch" value="{{ titel}}">
            </div>
            <div class="game_number header_div_middle">{{gameID + 1}}</div>
            <div class="game_control header_div_side">
                <input type="number" class="amount_of_games stretch" style="text-align: right;" value="{{ game_amount }}">
            </div>
        </header>
        <div id="header_spacer">
        </div>
        <div class="panel beschreibung">
            <div class="panel_titel">
                Beschreibung
            </div>
            <div class="panel_sub_text description_panel_text">
                <textarea class="description" style="width:100%; resize: vertical;">{{ desc }}</textarea>
            </div>
        </div>
        <div class="panel regeln">
            <div class="panel_titel">
                Regeln
            </div>
            <div class="panel_sub_text rules_panel_text">
                <textarea class="rules" style="width:100%; resize: vertical;">{{ rules }}</textarea>
            </div>
        </div>
        <div class="panel stopwatch">
            <div class="head">
                <input type="text" class="name_home" style="width:calc(50% - 30px);" value="{{playerHome}}">
                <button>Reset</button>
                <input type="text" class="name_guest" style="width:calc(50% - 30px);" value="{{playerGuest}}">
            </div>

            <div class="countdown row">
                {% if countdown_enabled %}
                    <div style="width: 50%; float: left; display: flex">
                        <input class="countdown_cb" onclick="toggle_countdown_visibility(this)" type="checkbox" checked>
                        <div>Countdown</div>
                    </div>
                    <div class="visible_countdown" style="width: 20%">
                        <input class="countdown_value_input" type="number" value="{{countdown}}">
                    </div>

                {% else %}
                    <div style="width: 50%; float: left; display: flex">
                        <input class="countdown_cb" onclick="toggle_countdown_visibility(this)" type="checkbox">
                        <div>Countdown</div>
                    </div>
                    <div class="visible_countdown" style="width: 20%; display: none">
                        <input class="countdown_value_input" type="text" value="{{countdown}}">
                    </div>

                {% endif %}
            </div>
            <div class="stopwatch row">
                {% if stopwatch_enabled %}
                    <div style="width: 50%; float: left; display: flex">
                        <input class="stopwatch_cb" onclick="toggle_stopwatch_visibility(this)" type="checkbox" checked>
                        <div>Stopwatch</div>
                    </div>
                    <div style="width: 20%">
                    </div>

                {% else %}
                    <div style="width: 50%; float: left; display: flex">
                        <input class="stopwatch_cb" onclick="toggle_stopwatch_visibility(this)" type="checkbox">
                        <div>Stopwatch</div>
                    </div>
                    <div style="width: 20%; display: none">
                    </div>

                {% endif %}
            </div>
        </div>

        <div class="panel runde">

            {% if no_rounds %}
                <div style="display: flex;">
                    <input class="checkbox_switch checkbox_switch_rounds" onclick="toggle_show_when_round()" type="checkbox" role="switch">
                    <p class="panel_titel">Runde</p>
                </div>
            {% else %}
                <div style="display: flex;">
                    <input class="checkbox_switch checkbox_switch_rounds" onclick="toggle_show_when_round()" type="checkbox" role="switch" checked>
                    <p class="panel_titel">Runde</p>
                </div>
            {% endif %}
            <div class="panel_shown_text">
                {% if no_rounds %}
                    <div class="show_when_rounds_switch">
                        Rounds: <input class="amount_of_rounds show_when_rounds_switch" type="number" value="{{ round_amount }}">
                    </div>
                {% else %}
                    <div class="show_when_rounds_switch">
                        Rounds: <input class="amount_of_rounds show_when_rounds_switch" type="number" value="{{ round_amount }}">
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="panel frage show_when_rounds_switch_block">

            {% if no_question %}
                {% if no_round %}
                    <div style="display: none;">
                {% else %}
                    <div style="display: flex;">
                {% endif %}
                    <input class="checkbox_switch checkbox_switch_questions" onclick="toggle_show_when_question()" type="checkbox" role="switch">
                    <p class="panel_titel">Frage</p>
                </div>

                <div class="panel_shown_text show_when_question_switch" style="display: none;">
                    <input type="text" class="question" value="{{frage[1]}}"> <br>
                    {% for x in range(frage[2]|length) %}
                        <input type="text" class="answer_{{ x }}"  value="{{ frage[2][x] }} ">
                        {% if frage[3] == x %}
                        <input onclick="set_answer_cb(this)" type="checkbox" class="answer_cb answer_cb_{{ x }}" checked>
                        {% else %}
                        <input onclick="set_answer_cb(this)" type="checkbox" class="answer_cb answer_cb_{{ x }}">
                        {% endif %}
                         <br>
                    {% endfor %}
                </div>

            {% else %}


                {% if no_round %}
                    <div style="display: none;">
                {% else %}
                    <div style="display: flex;">
                {% endif %}
                    <input class="checkbox_switch checkbox_switch_questions" onclick="toggle_show_when_question()" type="checkbox" role="switch" checked>
                    <p class="panel_titel">Frage</p>
                </div>
                <div class="panel_shown_text show_when_question_switch">
                    <input type="text" class="question" value="{{frage[1]}}" style="width:100%;"> <br>

                    <div class="answers_section">
                    {% for x in range(frage[2]|length) %}
                        <div class="answer_div answer_{{ x }}_div">
                            <button onclick="delete_question('answer_{{ x }}_div')" class="remove_answer">-</button>
                            <input type="text" class="answer_input answer_{{ x }}"  value="{{ frage[2][x] }} ">
                            {% if frage[3] == x %}

                                <input onclick="set_answer_cb(this)" type="checkbox" class="answer_cb answer_cb_{{ x }}" checked>
                            {% else %}
                                <input onclick="set_answer_cb(this)" type="checkbox" class="answer_cb answer_cb_{{ x }}">
                            {% endif %}
                            <br>
                        </div>
                    {% endfor %}
                    </div>
                    <button onclick="add_question()" style="width: 100%; margin-top: 10px" class="add_answer">+</button>
                </div>
            {% endif %}

        </div>

        <form method="post">
            <div class="save_button_div" style="margin-left: calc(var(--standard_margin)*2">
                <button onclick="save_settings()" >save</button>
            </div>
        </form>

    </div>
</body>
</html>