<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/control_page.css') }}">
<script src="{{ url_for('static', filename='scripts/control_page.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/stopwatch.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/countdown.js') }}"></script>
<head>
    <meta charset="UTF-8">
    <title>{{ titel }}</title>
</head>
<body>
    <header>
        <div class="game_title">{{ titel }}</div>
        <div class="game_control">
            {% if gameID > 0 %}
            <button onclick="location.href='/{{gameID-1}}/round/0'" class="minus_game">-</button>
            {% else %}
            <button class="minus_game">-</button>
            {% endif %}
            <a class="game_number">{{gameID + 1}}</a>

            {% if games_ammount > gameID + 1%}
                <button onclick="location.href='/{{gameID + 1}}/round/0'" class="plus_game">+</button>
            {% else %}
                <button class="plus_game">+</button>
            {% endif %}
        </div>
    </header>
    <div style="display: flex; flex-wrap: nowrap">
        <div style="width: 50%">
            {% include 'controll_unit.html' %}
        </div>
        <div style="width: 50%">
            <div class="panel frage">
            {% include 'question.html' %}
            </div>
        </div>
    </div>

</body>
</html>