<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/game_card.css') }}">
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
    <div onclick="location.href='/game/{{index}}'" class="card" >
        <h1 class="title">{{ game[0] }}</h1>
        <div class="description_box">
            <h2 class="description_title">Description:</h2>
            {% for j in range(game[1]|length) %}
                {{ game[1][j] }} <br>
            {% endfor %}
        </div>
        <div class="rules_box">
            <h2 class="rules_title">Rules:</h2>
            {% for j in range(game[2]|length) %}
                {{ game[2][j] }} <br>
            {% endfor %}
        </div>
    </div>
</body>
</html>