<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/question.css') }}">
<script src="{{ url_for('static', filename='scripts/question.js') }}"></script>
<head>
    <meta charset="UTF-8">
    <title>Quesions</title>
</head>
<body>

    <div id="header_spacer">
    </div>
    <button onclick="aufloesen({{ frage[3] }})" class="aufloesen">Get Answer</button>

    <div class="question_answer_section">
        <div class="question_section">
            <h1>{{ frage[1] }}</h1>
        </div>
        <div class="answers_section">


            {% for x in range(frage[2]|length) %}
                {% if frage[2]|length <= 1 %}
                    <button style="display: none" onclick="antwort_auswahl({{x}})" id="answer_{{x}}" class="answer_question right_answer_question">{{ frage[2][x] }}</button>
                {% else %}
                    <button onclick="antwort_auswahl({{x}})" id="answer_{{x}}" class="answer_question">{{ frage[2][x] }}</button>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</body>
</html>