<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
    <div class="card" >
        <div class="nav_buttons">
            Spiel:
            <button onclick="location.href='/game/{{index-1}}'" type="button">-</button>
            {{index+1}}
            <button onclick="location.href='/game/{{index+1}}'" type="button">+</button>
        </div>
        <h1 class="title">{{ game[0] }}</h1>
        <div class="description_box">
            <h2 class="description_title">Description:</h2>
            {% for j in range(game[1]|length) %}
                {{ game[1][j] }} <br>
            {% endfor %}
        </div>
        <div class="rules_box">
            <h2 class="rules_title">Rules:</h2>
            {% for j in range(game[2]|length) %}
                {{ game[2][j] }} <br>
            {% endfor %}
        </div>
        <div>
            {{ player[0] }}
            {{ player[1] }}

        </div>
    </div>
</body>
</html>